body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fileupload {
  width: 88px;
}

.fileupload label.custom-file-label {
  border: transparent;

}

.fileupload .custom-file-input~.custom-file-label[data-browse]::after {
  color: #2BC9E4;
  background: transparent;
}

.fileuplodhere {
  background: #F8F7FB;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px dashed #9892AC;
}